[submodule "dry/src/eigen_colcon"]
	path = dry/src/eigen_colcon
	url = git@github.com:rislab/eigen_colcon.git
[submodule "wet/src/quadrotor_simulator_py"]
	path = wet/src/quadrotor_simulator_py
	url = git@github.com:rislab/quadrotor_simulator_py.git
