[submodule "dry/src/eigen_colcon"]
	path = dry/src/eigen_colcon
	url = git@github.com:rislab/eigen_colcon.git
[submodule "wet/src/quadrotor_simulator_py"]
	path = wet/src/quadrotor_simulator_py
	url = git@github.com:rislab/quadrotor_simulator_py.git
[submodule "wet/src/rosbags_tools"]
	path = wet/src/rosbags_tools
	url = git@github.com:rislab/rosbags_tools.git
[submodule "wet/src/quadrotor_simulator_ros"]
	path = wet/src/quadrotor_simulator_ros
	url = git@github.com:rislab/quadrotor_simulator_ros.git
[submodule "wet/src/quadrotor_msgs"]
	path = wet/src/quadrotor_msgs
	url = git@github.com:rislab/quadrotor_msgs.git
